@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4d1635;
    -webkit-border-radius: 25px;
}

::-webkit-scrollbar-corner {
    background: #4d1635;
}
